<div class="row">
  <div class="col-md-4" *ngFor="let receta of recetas" (click)="mostrarDetalle(receta)">
    <div class="card">
      <img class="card-img-top" [src]="receta.imagen" alt="Imagen de la receta">
      <div class="card-body">
        <h5 class="card-title">{{ receta.nombre }}</h5>
        <p class="card-text">Calificación: {{ receta.estrellas }}</p>
        <p class="card-text">Opiniones: {{ receta.cantidadOpiniones }}</p>
        <p class="card-text">Duración: {{ receta.duracion }}</p>
        <p class="card-text">Dificultad: {{ receta.dificultad }}</p>
        <p class="card-text">Autor: {{ receta.autorReceta }}</p>
        <button class="Go somwhere" (click)="mostrarDetalle(receta)">Ver Detalle</button>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="detalle-receta" *ngIf="recetaSeleccionada">
      <h2>{{ recetaSeleccionada.nombre }}</h2>
      <hr>
      <dl>
        <dt>Calificación:</dt>
        <dd>{{ recetaSeleccionada.estrellas }}</dd>
        <hr>
        <dt>Opiniones:</dt>
        <dd>{{ recetaSeleccionada.cantidadOpiniones }}</dd>
        <hr>
        <dt>Duración:</dt>
        <dd>{{ recetaSeleccionada.duracion }}</dd>
        <hr>
        <dt>Dificultad:</dt>
        <dd>{{ recetaSeleccionada.dificultad }}</dd>
        <hr>
        <dt>Autor:</dt>
        <dd>{{ recetaSeleccionada.autorReceta }}</dd>
      </dl>
    </div>
  </div>
</div>
